@charset "ISO-8859-1";

.mt{
	
}
.mt:hover{
	margin: auto;
	background-color: RED;
	border-top: 2px solid GREY;
	border-style: groove;
	padding-top: 10px;
	border-radius: 10%;
	font-size: 30px;
}

input[type=submit]:hover{
	background-color: GREEN;
	border-color: WHITE;
	color: WHITE;
	
}